.row{
    overflow-x:hidden;
    
}
.column{
    float:left;
    width:50%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}



.horizontalImageDiv {
    max-width:1000px;
    overflow-x: scroll;
    white-space: nowrap;
}